:root {
    --lb: #3382f6;
    --db: #1f2937;

    --h1: #f9faf8;
    --h2: #e5e7eb;
}

body {
    margin: 0;
    font-family: sans-serif;
}

#all {
    width: 100vw;
}

* {
    box-sizing: border-box;
}

.flex {
    display: flex;
}

nav, header, main, footer, #call, #quote, #rand {
    width: 100%;
}

nav, header {
    justify-content: center;
    display: flex;
}

.container, header .flex, #rand .containter, #quote .container, #call .container {
    width: 60%;
}

nav, header, footer {
    background-color: var(--db);
}

button {
    background-color: var(--lb);
    color: var(--h1);
    padding: 10px 40px 10px 40px;
    font-weight: bold;
    border-radius: 10px;
}

/* nav */

nav .container {
    justify-content: space-between;
    margin-top: 25px;
}

#logo {
    font-size: 18px;
    color: var(--h1);
}

#links {
    color: var(--h2);
}

#links span {
    margin: 25px;
}

/* header */

header button {
    border: none;
    margin: 0px 15px 15px 15px;
}

header h1 {
    color: var(--h1);
    font-size: 48px;
    margin: 15px;
}

header div {
    color: var(--h2);
    font-size: 18px;
    margin: 15px;
}

header .container {
    gap: 50px;
    margin: 200px;
}

header #side {
    width: 50%;
    flex-direction: column;
}

#img {
    width: 2000px;
    height: 300px;
    background-color: grey;
    width: 50%;
}

/* main */

#rand {
    justify-content: center;
}

#rand .container {
    text-align: center;
}

#rand #title {
    margin: 50px;
}

#cards {
    gap: 50px;
    justify-content: center;
    margin-bottom: 100px;
}

#cards .b {
    border: 3px solid var(--lb);
    border-radius: 10px;
    height: 300px;
    width: 300px;
}

#holder .sub {
    color: var(--h2);
}

#cards .holder {
    width: 300px;
}

#title {
    font-size: 36px;
    font-weight: bold;
}

#quote {
    background-color: var(--h2);
    justify-content: center;
}

#quote .container {
    margin: 100px;
    flex-direction: column;
    justify-content: center;
}

#quote #txt {
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
}

#quote #speaker {
    font-weight: bold;
    text-align: right;
    font-size: 25px;
}

#call {
    justify-content: center;
    color: var(--h1);
}

#call .container {
    background-color: var(--lb);
    border-radius: 10px;
    padding: 30px 90px 30px 90px;
    margin: 70px;
    justify-content: space-between;
}

#call button {
    border: 2px solid var(--h1);
}

/* footer */

footer {
    color: var(--h2);
    padding: 30px;
    text-align: center;
}