:root {
    --lb: #3382f6;
    --db: #1f2937;

    --h1: #f9faf8;
    --h2: #e5e7eb;
}

body {
    margin: 0;
    font-family: sans-serif;
}

.flex {
    display: flex;
}

nav, header, main, footer {
    width: 100%;
}

.container {
    width: 60%;
}

nav, header, footer {
    background-color: var(--db);
}

/* nav */

nav .container {
    justify-content: space-around;
}